/*body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /*imagen por detrás
    background-image: url()*/
}

/*header*/
/* HEADER LISTO - NO TOCAR */
header {
  background-color:rgb(187, 238, 98);
  display: flex;
  justify-content: space-between;/*manejo eje x*/
  padding: 25px;
  align-items: center;/*manejo eje y*/
}
header div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

div .image-ram {
  width: 100px;
  border-radius: 20px;
}

div .title-logo {
  width: 250px;
}

header nav ul {
  list-style: none;/*saco los puntitos de la lista*/
  display: flex;
}

header nav ul li {
  padding: 10px;
  margin: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: blue;
}
.horizontal-line {
  width: 100%;
  height: 3px;
  background-color: #1e0280;
}

/*main*/
main {
  background-color: yellowgreen;
  padding: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Synopsis */
/* NO TOCAR */
.synopsis {
  /*background-color: brown;*/
  margin: 5px;
  padding: 15px;
}

.h2-synopsis {
  background-color: rgb(191, 242, 140);
  text-align: center;
  border-radius: 15px;
  padding: 30px;
  border: solid green 10px;
}

.img-synopsis {
  width: 200px;
  margin: 15px;
  border-radius: 20px;
}

.img-text {
  display: flex;
  margin: 10px;
}

.p-synopsis {
  padding: 25px;
  align-items: center;
}

/* Contenedor grilla*/
/* NO TOCAR */

.div-h2 {
    border-radius: 10px;
    padding: 30px;
}

.h2-char {
    background-color: rgb(191, 242, 140);
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    border: solid green 10px;
}

/* Estilos para item de grid */
.char-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: green 15px;
}

.grid-char {
  background-color: rgb(191, 242, 140);
  padding: 30px;
  text-align: center;
  width: 250px;
  border-radius: 15px;
  margin: 30px;
  border: solid green 10px;
}

.grid-char .char-img{
  width: 160px;
  border-radius: 50%;
}

/* Watch the show*/
.watch-the-show {
  justify-content:space-between;
  border-radius: 10px;
  padding: 20px;
  margin: 25px;
  display: flex;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold',
   sans-serif;
}

.div-see-show {
  text-align:left;
  padding: 25px;
}

.div-see-show p{
  margin-top: 15px;
}

.h2-see-show {
  background-color: rgb(191, 242, 140);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  border: solid green 10px;
}

.show-bottom {
  border: 25px;
  align-items: center;
}

.hbo-logo {
  width: 300px;
  border-radius: 20px;
  padding: 10px;
}

/*Aboute-me*/
main section .about-me {
  height: 50%;
  padding: 30px;
  margin: 25px;
  /*align-items: center;*/
  background-color: beige;  
}

.h2-me {
  /*font-size: 35px;
  margin: 20px;
  pad: 10px;
  text-align: center;*/
  background-color: rgb(191, 242, 140);
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  border: solid green 10px;
}

.div-me {
  display: flex;
  margin: 20px;
}
 .div-about-me {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 50px;
  align-items: center;
 }
/*footer*/
/* FOOTER LISTO POR AHORA */
footer {
  background-color: rgb(187, 238, 98);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:Impact, Haettenschweiler,
   'Arial Narrow Bold', sans-serif;
}

footer div nav ul {
  list-style: none;
  display: flex;
}

div nav ul li {
  padding: 5px;
  margin: 20px;
  display: flex;
  align-items: center;
}
